<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Password Security Toolkit</title>

    <!-- Bootstrap -->
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
        rel="stylesheet">
    
    <link rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- Custom Styles -->
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="bg-light">

    <!-- ========================= -->
    <!-- Navigation -->
    <!-- ========================= -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="container">

        <a class="navbar-brand" href="/">
            Password Security Toolkit
        </a>

        <div class="navbar-nav ms-auto">

            <a class="nav-link" href="/">
                Dashboard
            </a>

            <a class="nav-link" href="/analyze">
                Analyzer
            </a>

            <a class="nav-link" href="/generator">
                Generator
            </a>
            
            <a class="nav-link" href="/security-events">
            	security events
            </a>

        </div>

    </div>

</nav>

    <!-- ========================= -->
    <!-- Main Content -->
    <!-- ========================= -->

    <main class="container py-4">

        {% block content %}
        {% endblock %}

    </main>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</body>
</html>
